
/*Aplicar o estilo no primeiro filho*/

p:first-child{
    background-color: aquamarine;
}

/*Aplicar o esilo no último filho*/

p:last-child{
    background-color: rgb(136, 136, 153);
}

#Botao{
    border: 1px solid white;
    background-color: blueviolet;
    border-radius: 5px;
}
#Botao:hover{
    color: aliceblue;
    background-color: brown;
}

#ParagrafoHover:hover{
    background-color: darkolivegreen;
    color: azure;
    border: 2px solid black;
    font-size: 20px ;
    border-radius: 5px;
}
#Titulo2:hover{
    font-family: "Lagosta", sans-serif;
    
}

#imagem:hover{
    box-shadow: 10px 10px 10px burlywood;
    width: 700px;
    height: 700px;

}

/*PseudoElemento*/

#pseudo::before{
    content: 'utilizando before';
}

#pseudo::after{
    content: 'utilizando after';
}
