#container{
    display: grid;
    grid-template-columns:50px 50px 50px 50px 50px 50px 50px 50px 50px

    /*ou "grid-template-columns: repeat (9,50px)"*/

}

.itens{
    border: 1px solid black;
    background-color: rgb(76, 194, 154);
}