/* Aqui tem um comentário (comentário em mais de uma linha) */

body{
    /*background-color: rgb(red, green, blue);*/
    background-color: #80c844;


    h1{ 
        text-shadow: 10px 10px 10px rgb(69, 110, 85);
        text-align: center;
        font-family: "IBM Plex Mono"
        
        
    }
    

p{
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display"

}
/*Ajustar o tamanho da imagem*/

img{ border-radius: 20px 0px 20px 0px; 
    box-shadow: 10px 10px  black;

    height: 50%; /*altura*/
    width: 50%; /*largura*/  
}