img{ 
    /*recebe 4 valores: none, left, right*/
    /*none:texto embaixo da imagem; left: texto a esquerda; right: texto a direita*/
    /*Tag float muda a direção da imagem*/

    float: left;
    border-radius: 50px 50px 50px 50px;
    width: 50%;
  
*{
    margin-left: auto;
    margin-right: auto;
   
}

#paragrafo1{
    width: 100px;
    clear: left;
}

#paragrafo2{
    width: 100px;
}